# Sample gitconfig
#

[hub]
        protocol = https
[user]
        name = "Will Simpson"
        email = wsimpson@email.arizona.edu
[credential]
        helper = cache
[alias]
        co = checkout
        promote = !$ZSH/bin/git-promote
        wtf     = !$ZSH/bin/git-wtf
        rank-contributors = !$ZSH/bin/git-rank-contributors
        count   = !git shortlog -sn
	lg = log --oneline --decorate --all --graph
	permission-reset = !git diff -p -R | grep -E \"^(diff|(old|new) mode)\" | git apply
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        excludesfile = ~/.gitignore
        editor = vim
[apply]
        whitespace = nowarn
[mergetool]
        keepBackup = false
[difftool]
        prompt = false
[help]
        autocorrect = 1
[push]
        # See `git help config` (search for push.default)
        # for more information on different options of the below setting.
        #
        # Setting to git 2.0 default to suppress warning message
        default = simple
